@model IEnumerable<ColegioWeb.Models.Expediente>

<h1>Expedientes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo expediente</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Alumno</th>
            <th>Materia</th>
            <th>Nota Final</th>
            <th>Observaciones</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item.Alumno.Nombres + " " + item.Alumno.Apellidos)</td>
                <td>@item.Materia.Nombre</td>
                <td>@item.NotaFinal</td>
                <td>@item.Observaciones</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExpedienteId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ExpedienteId">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.ExpedienteId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
